{
  "host":    "infoblox.example.com",
  "view":    "External",
  "usernameSecretRef": {
    "name": "infoblox-credentials",
    "key":  "username"
  },
  "passwordSecretRef": {
    "name": "infoblox-credentials",
    "key":  "password"
  }
}
